<!DOCTYPE html>
<html>
  <head>
    <title>Mongoose Flights#index</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id='show-container'>
        
        <div>
            <h2>Airline </h2>
            <%= flight.airline %>
        </div>
        <div>
            <h2>Flight Number</h2>
            <%= flight.flightNo %>
        </div>
        <div>
            <h2>Flight Time </h2>
            Departure <%= flight.departs %>
        </div>    
        <div>
                <h2>Flying out of </h2>  
            Departing From <%= flight.airport %>
        </div>      

        <form id="add-arrival-destination" method="POST"action="/flights/<%= flight._id%>/destinations">
            <label>Destination</label>
            <select name="airport"> 
                <option value="AUS">AUS</option>
                <option value="DAL">DAL</option>
                <option value="LAX">LAX</option>
                <option value="SEA">SEA</option>
            </select>
            <label>Arrival Time</label>
                <input type="datetime-local" name = "arrival">
                <input type="submit" value='Add Arrival'>
        </form>
    <section id='arrivals'>
        <% flight.destinations.forEach(function(f){ %>
            <div>
                Destination airport: <%= f.airport %>
            </div>
            <div>
                Destination arrival: <%= f.arrival %>
            </div>
        <% }); %>
    </section>

    <section id='tickets'>
        <% tickets.forEach(function(t){ %>
            <div>
               Seat Number: <%= t.seat %>
            </div>
            <div>
               Ticket Price: <%= t.price%>
            </div>
            <div>
                Flight ID:<%= t.flight%>
            </div>
            <% }); %>

            <div>
                <a href='/flights/<%= flight._id %>/tickets/new' value="Add Ticket"> Add Ticket</a>
            </div>
    </section>
</div>
</body>
</html>
